.search-bar-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.search-bar-div .search-bar-header {
    text-align: center;
    margin: 0;
}

.search-bar-div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-bar-div form .input-div input{
    height: 30px;
    width: 300px;
    border: 2px solid gray;
    padding: 0 5px;
}


.search-bar-div form button {
    cursor: pointer;
    width: 150px;
    background-color: white;
    height: 30px;
    outline: none;
    border: 2px solid gray;
}